
@font-face {
    font-family: 'Nunito';
    src: url('/nunito.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: Nunito, arial, sans-serif;
    
}

h1 {
    color: white;
}
h1 > a {
    color: white;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    background-color: #2AAB85;
    display: flex;
    align-items: center;
    justify-content: center;
}

